{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "overrides": [
        {
            "files": [
                "src/**/*.js"
            ],
            "rules": {
                "indent": ["error", 4],
                "max-len": ["error", 120],
                "no-plusplus": ["off"],
                "operator-linebreak": ["error", "after", {
                    "overrides": {
                        "?": "before",
                        ":": "before"
                    }
                }],
                "object-curly-newline": ["error", {
                    "multiline": true,
                    "consistent": true 
                }],
                "no-param-reassign": ["error", {
                    "props": false
                }],
                "no-mixed-operators": ["off"],
                "prefer-destructuring": ["off"],
                "linebreak-style": ["off"]
            }
        }
    ]
}